body {
  background-color: #ececec;
}

.home, .bracket {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: flex-start;
    font-size: 3rem;
    margin-left: 150px;
    padding-top: 25px;
}